# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambiente Virtual (Bloqueia o venv) ---
venv/
env/
.venv/

# --- Banco de Dados Local (SQLite) ---
*.db
*.sqlite3
# Exceção: Mantém a pasta database, mas ignora os arquivos .db dentro dela
!database/.gitkeep

# --- Variáveis de Ambiente (Segurança) ---
.env

# --- IDEs e Sistema Operacional ---
.vscode/
.idea/
.DS_Store
Thumbs.db